<!DOCTYPE html>
<html lang="en">

<head>
  <%-include("./head.ejs") %>
</head>

<body>

  <!-- Header and Hero Section -->
  <%- include("./header.ejs") %>

  
  <!-- About Section -->
  <%-include("./about.ejs") %>

      
  <!-- ======= Services Section ======= -->
  <%-include("./feature.ejs") %>


    <main id="main">


          <!-- ======= Stats Counter Section ======= -->
          <section id="stats-counter" class="stats-counter section-bg">
            <div class="container">
              <header class="section-header">
                <h3>Analytics</h3>
              </header>
              <div class="row gy-4 justify-content-center">

                <div class="col-lg-3 col-md-6">
                  <div class="stats-item d-flex align-items-center w-100 h-100">
                    <i class="bi bi-clock color-blue flex-shrink-0"></i>
                    <div>
                      <div class = "symbol">
                        <span data-purecounter-start="0" data-purecounter-end= "<%= avg_consultation_time %>" data-purecounter-duration="1"
                          class="purecounter"></span>
                          <div><font size="6">hr</font></div>
                      </div>
                      
                      <p>Average Consultation Time</p>
                    </div>
                  </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                  <div class="stats-item d-flex align-items-center w-100 h-100">
                    <i class="bi bi-person-fill color-orange flex-shrink-0"></i>
                    <div>
                      <div class = "symbol">
                        <span data-purecounter-start="0" data-purecounter-end="<%= avg_queue_time %>" data-purecounter-duration="1"
                          class="purecounter"></span>
                          <div><font size="6">hr</font></div>
                      </div>
                      <p>Average Queue Time</p>
                    </div>
                  </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                  <div class="stats-item d-flex align-items-center w-100 h-100">
                    <i class="bi bi-check-circle-fill color-green flex-shrink-0"></i>
                    <div>
                      <div class = "symbol">
                        <span data-purecounter-start="0" data-purecounter-end="<%= completed %>" data-purecounter-duration="1"
                          class="purecounter"></span>
                          <div><font size="6">%</font></div>
                      </div>
                      <p>Completed Appointments</p>
                    </div>
                  </div>
                </div><!-- End Stats Item -->
              </div>

            </div>
          </section><!-- End Stats Counter Section -->

          <!-- End features Section -->

          <!--summary report-->



          <!--search form-->
          <div class="my-5" id="search-container">
            <div class="container">
              <div>
                <h2><b>Search</b> an Appointment</h2>
              </div>
              <form id="Search-Form" class="p-2">
                <div>
                  <label for="variable1" class="fw-bold">AppId</label>
                  <input type="text" class="form-control underline" id="appointment_id_search" placeholder="">
                </div>
                <div class="d-flex justify-content-center m-3">
                  <button type="submit" class="btn btn-primary">Search</button>
                </div>
              </form>
            </div>
          </div>

          <!-- table -->

          <section class="container appointment-details">
            <div class="container container-table">
              <div class="table-title d-flex justify-content-between align-items-center">
                <div>
                  <h2 class="mx-1 my-3 container-title">Appointment <b>Details</b></h2>
                </div>
                <div>
                  <div><button type="button" class="btn btn-info add-new">Add New</button></div>
                  <div><button type="button" class="btn btn-danger back">Back</button></div>
                </div>
              </div>
            </div>

            <div class="container switch">
              <table class="table table-hover" id="table-section">
                <thead>
                  <tr>
                    <th>apid</th>
                    <th>status</th>
                    <th>Time Queued</th>
                    <th>Queue Date</th>
                    <th>Start Time</th>
                    <th>End time</th>
                    <th>Type</th>
                    <th>isVirtual</th>
                    <th>Major Island</th>
                    <th>Hospital Name</th>
                    <th>Hospital/Clinic</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>BDE67BD9610065D068F8EC532FEE8263</td>
                    <td>Pending</td>
                    <td>2024-04-10 18:00:00</td>
                    <td>2024-04-11 16:00:00</td>
                    <td>2024-04-11 23:00:00</td>
                    <td>2024-04-11 23:30:00</td>
                    <td>Checkup</td>
                    <td>1</td>
                    <td>Visayas</td>
                    <td>Central General Hospital</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>BDE67BD9610065D068F8EC532FEE8263</td>
                    <td>Pending</td>
                    <td>2024-04-10 18:00:00</td>
                    <td>2024-04-11 16:00:00</td>
                    <td>2024-04-11 23:00:00</td>
                    <td>2024-04-11 23:30:00</td>
                    <td>Checkup</td>
                    <td>1</td>
                    <td>Visayas</td>
                    <td>Central General Hospital</td>
                    <td>1</td>
                  </tr>
                </tbody>
              </table>

              <form id="addNewAppointment">

                <div class="row mb-2">
                  <div class="col-md-6 p-1">
                    <div class="input-group form-floating">
                      <input type="text" class="form-control" id="app-hospitalname" placeholder="Makati Medical Center">
                      <label for="app-hospitalname">Hospital Name</label>
                    </div>
                  </div>
                  <div class="col-md-6 p-1">
                    <div class="input-group form-floating">
                      <select class="form-select" id="app-region" aria-label="Region">
                        <!-- RETURN exact name as string -->
                        <option value="Luzon">Luzon</option>
                        <option value="Visayas">Visayas</option>
                        <option value="Mindanao">Mindanao</option>
                      </select>
                      <label for="type">Region</label>
                    </div>
                  </div>
                </div>

                <div class="row mb-2">
                  <div class="col-md-4 p-1">
                    <div class="input-group form-floating">
                      <select class="form-select" id="app-status" aria-label="Status">
                        <!-- RETURN exact name as string -->
                        <option value="Complete">Complete</option>
                        <option value="Cancel">Cancel</option>
                        <option value="Serving">Serving</option>
                        <option value="NoShow">NoShow</option>
                        <option value="Skip">Skip</option>
                      </select>
                      <label for="app-status">Status</label>
                    </div>
                  </div>
                  <div class="col-md-4 p-1">
                    <div class="input-group form-floating">
                      <select class="form-select" id="app-method" aria-label="Method">
                        <!-- RETURN 1 if Virtual and 0 if Face-to-Face -->
                        <option value="1">Virtual</option>
                        <option value="0">Face-to-Face</option>
                      </select>
                      <label for="type">Appointment Method</label>
                    </div>
                  </div>
                  <div class="col-md-4 p-1">
                    <div class="input-group form-floating">
                      <select class="form-select" id="app-type" aria-label="Type">
                        <option value="Consultation">Consultation</option>
                        <option value="Inpatient">Inpatient</option>
                      </select>
                      <label for="app-type">Appointment Type</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="row p-0 mt-1">
                      <label for="time_queued" class="form-label">Time Queued:</label>
                      <div class="col-md-6 p-1">
                        <input type="date" class="form-control" id="date_queued" name="date_queued">
                      </div>
                      <div class="col-md-6 p-1">
                        <input type="time" class="form-control" id="time_queued" name="time_queued">
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row p-0 mt-1">
                      <label class="form-label">Queue Date:</label>
                      <div class="col-md-6 p-1">
                        <input type="date" class="form-control" id="queue_date" name="queue_date">
                      </div>
                      <div class="col-md-6 p-1">
                        <input type="time" class="form-control" id="queue_time" name="queue_time">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="row p-0 mt-1">
                      <label class="form-label">Start Time:</label>
                      <div class="col-md-6 p-1">
                        <input type="date" class="form-control" id="start_date" name="start_date">
                      </div>
                      <div class="col-md-6 p-1">
                        <input type="time" class="form-control" id="start_time" name="start_time">
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row p-0 mt-1">
                      <label class="form-label">End Time:</label>
                      <div class="col-md-6 p-1">
                        <input type="date" class="form-control" id="end_date" name="end_date">
                      </div>
                      <div class="col-md-6 p-1">
                        <input type="time" class="form-control" id="end_time" name="end_time">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container mt-3 text-center">
                  <button type="submit" id="submitAppForm" class="btn btn-primary btn-md py-1 px-3">Submit</button>
                </div>
                
              </form>
            </div>
          </section>


    </main><!-- End #main -->

    <!-- Footer -->
    <%- include("./footer.ejs") %>

      <!-- Vendor JS Files -->
      <script defer src="/vendor/purecounter/purecounter_vanilla.js"></script>
      <script defer src="/vendor/aos/aos.js"></script>
      <script defer src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script defer src="/vendor/glightbox/js/glightbox.min.js"></script>
      <script defer src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
      <script defer src="/vendor/swiper/swiper-bundle.min.js"></script>
      <script defer src="/vendor/php-email-form/validate.js"></script>

      <!-- Template Main JS File -->
      <script defer src="/js/main.js"></script>

</body>

</html>